extends layout

block content
  h1= title
  p We're working on something awesome at <a href="http://computer.camp/">Computer Camp</a>. It's called Clay. We're in the process of updating this site with information about Clay.
  p In the mean time, sign up for our <a href="http://eepurl.com/WzPT5">mailing list</a> to get all the latest and greatest news about Clay. We can't went to tell you more.
  p Check back soon for our big update!
  p <strong>- Computer Camp Team</strong>
