extends layout

block content
  p Computer Camp is a company dedicated to creating intelligent tools that enable creative people to build interactive systems quickly and expressively. Our focus is the development of Clay.

  p Clay is a customizable computing platform for artists, interaction designers, hackers, and young people. Clay automates much of the effort usually required to create custom hardware and software.

  p Right now, we’re working on the final stages of our early adopters program. We will deliver the first Clay prototypes to practicing artists, hackers, and organizations dedicated to educating and inspiring the next generation of young people about creative applications of technology.

  p If you’d like to participate in our early adopters program, apply using <a href="#">this application</a>.

  p If you want to follow the development of Clay, sign up for our <a href="http://eepurl.com/WzPT5">mailing list</a>. We will send the latest news about Clay’s development as well as major announcements and opportunities for participating in the Computer Camp. We can't went to tell you more.

  p <strong>The Computer Camp Team</strong>

